<!DOCTYPE html>
<html>
<head>
  <title>RideShare</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%= csrf_meta_tags %>
</head>
<body onload="<%="displayMessage('flash');" if @message%>setTimeout(updateList, 250);" onunload="GUnload()">

<%= yield %>

</body>
</html>
